<section id="creators" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-header__title">{{ site.data.locales[page.locale].creators.title }}</h2>
      <p class="section-header__text">
        {{ site.data.locales[page.locale].creators.text }}
      </p>
    </div>
    <div class="grid grid--3">
      {% for creator in site.data.streamers %}
        {% include creator-card.html creator=creator %}
      {% endfor %}
    </div>
  </div>
</section>
