<section id="creators" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-header__title">Featured Creators</h2>
      <p class="section-header__text">
        Meet some of the talented creators in our community, streaming across multiple platforms.
      </p>
    </div>
    <div class="grid grid--3">
      {% for creator in site.data.streamers %}
        {% include creator-card.html creator=creator %}
      {% endfor %}
    </div>
  </div>
</section>
